@model DataPotato.Models.SanPham
<form method="post">
    <div class="border p-3 mt-4">  @* tao khoi vien *@
        <div class="row pb-2">
            <h2 class="text-primary">Create Sản Phẩm</h2>
            <hr/> @*  ke ngang *@
        </div>
       
        <div class="mb-3 row p-1">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span> @* dùng để hiển thị thông báo lỗi xác thực *@

        </div>
        <div class="form-group">
            <label asp-for="ImgURL" class="control-label"></label>
            <input type="file" name="imgFile" />
          

        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-primary">
            Back to list

        </a>


    </div>
</form>